{% extends 'base.html' %}

{% block content %}

    <style>
        .testing{
            background-color: white;
            height: 3rem;
            width: 3rem;
            margin: 1rem;
        }
    </style>

    <div style="border-radius: 1rem; margin: 2rem;text-align: center">
        <h1 style="font-family: 'lobster', cursive;">       <!-- cursive = loabster를 구글폰트에서 가져오지 못할시 cursive를 사용 -->
            Hello world List!
        </h1>

       <form action="/account/hello_world/" method="post">
           {% csrf_token %}
           <div>
               <input type="text" name="hello_world_input">   <!-- hello_world_input 이라는 정보를 받아서 서버로 전송 -->
           </div>
           <input type="submit" class="btn btn-primary" value="POST">        <!--    btn primary = 부트스트랩 관련-->
       </form>

        {% if hello_world_list %}
            {% for hello_world in hello_world_list %}
            <h4>
               {{ hello_world.text }}
            </h4>
            {% endfor %}
        {% endif %}
    </div>
{%  endblock %}
