{% extends 'base.html' %}


{% block content %}
    <div>
        <div style="text-align: center; max-width: 500px; margin: 4rem auto;">

            <img src="{{ target_project.image.url }}" alt=""
                 style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; object-fit: cover">{# object-fit :사진이 한쪽 방향으로 길어, 작게보일때 찌그러지지않게 잘라내주는 옵션 #}
            <h2 style="font-family: 'NanumSquareB'">
                {{ target_project.title}}
            </h2>
            <h5 style="margin-bottom: 3rem;">
                {{ target_project.description }}
            </h5>


        </div>
    </div>


{% endblock %}